@import "config";

.filter {
  display: flex;
  justify-content: center;

  &__button {
    padding: $gutter/2 $gutter;
    margin-right: $gutter;
    margin-bottom: $gutter*2;
    margin-left: $gutter;

    font-family: $font-heading;
    font-size: 1.5em;
    font-weight: 700;
    color: $color-1;
    text-align: center;

    background-color: $color-4;
    border: 0;
    border-radius: 0.5em;

    transition:
      color $transition,
      background-color $transition;

    &:hover {
      color: $color-4;
      background-color: $color-1;
    }
  }
}
