@import "config";

.quote {
  margin: $gutter*2 auto;
  @include columns(11);

  @media (min-width: 500px) {
    @include columns(8);
  }

  background-color: $color-4;

  &__text {
    margin-top: $gutter;
    margin-bottom: $gutter;
  }

  &__cite {
    display: flex;
    margin-bottom: $gutter;
  }
}
