@import "config";

.video {
  display: flex;
  margin: 0 auto;
  @include columns(11);

  @media (min-width: 500px) {
  @include columns(8);
  }

  &__padding {
    position: relative;
    width: 100%;
    padding-top: 75%;
    overflow: hidden;
  }

  &__embed {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }
}